* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  
  html,
  body{
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    overflow-y: hidden;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, supported by Chrome and Opera */
  }
  
  /* Variables */
  
  :root {
    --grey: rgb(128, 128, 128);
    --white: #fff;
    --light_blue: rgb(47, 101, 249);
    --lighter_blue: rgb(159, 185, 241);
    --light_green: green;
    --lighter_green: rgb(47, 249, 101);
    --get_access_bg: rgb(87, 89, 137);
    --footer_bg: rgb(7, 4, 59);
  }
  
  /* Navbar section */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    text-align: center;
  }
  
  .nav-links ul {
    display: flex;
    gap: 4rem;
  }
  
  .navbar a {
    color: var(--grey);
    font-size: 1.2rem;
  }
  
  /* All your files section */
  
  .hero {
    display: flex;
    padding: 50px;
    width: 100%;
  }
  
  .hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding-top: 30px;
  }
  
  .hero_content h2 {
    font-size: 2.5rem;
  }
  
  .hero_content p {
    font-size: 1.2rem;
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  input[type="email"] {
    padding: 15px;
    width: 350px;
    border-radius: 3px;
    border: 1px solid var(--grey);
    font-size: 1.2rem;
    outline: none;
  }
  
  input[type="button"] {
    width: 200px;
    padding: 15px;
    background-color: var(--light_blue);
    border: none;
    color: var(--white);
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: var(--lighter_blue);
  }
  
  input::placeholder {
    color: var(--grey);
  }
  
  .hero_image {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: right;
    justify-content: right;
  }
  
  .hero_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  /* Stay productive section */
  
  .stay_productive {
    background: url(../images/bg-curve-desktop.svg) no-repeat center;
    background-size: cover;
    height: 100%;
    display: flex;
    padding: 100px 50px 50px 50px;
    width: 100%;
    margin-top: 50px;
  }
  
  .stay_productive_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }
  
  .stay_productive_content h2 {
    font-size: 2.3rem;
    padding-bottom: 20px;
  }
  
  .stay_productive_content p {
    font-size: 1.2rem;
  }
  
  .stay_productive_link {
    display: flex;
    gap: 10px;
    color: var(--light_green);
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  .stay_productive_link::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--light_green);
    top: 25px;
  }
  
  .stay_productive_link:hover {
    color: var(--lighter_green);
  }
  
  .stay_productive_image {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: right;
    justify-content: right;
  }
  
  .stay_productive_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .testimonial {
    margin-top: 30px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: 415px;
    height: 230px;
  }
  .testimonial p {
    padding: 10px 10px 0px 10px;
    font-size: 1.1rem;
  }
  
  .testimonial td {
    padding: 5px;
  }
  
  .testimonial tr img {
    border-radius: 50px;
  }
  
  .testimonial tr h3,
  .testimonial tr pre {
    font-size: 1rem;
    padding: 2px;
  }
  
  /* Get ready section */
  
  .get_ready {
    display: flex;
    height: 100%;
    background-color: var(--get_access_bg);
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  
  .get_ready_content {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
  }
  
  .get_ready_content h2 {
    font-size: 2.5rem;
  }
  .get_ready_content p {
    font-size: 1.2rem;
  }
  .get_ready_input form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .get_ready_input input[type="email"] {
    width: 500px;
  }
  
  /* footer section */
  
  .footer {
    height: 100%;
    background-color: var(--footer_bg);
    padding: 50px;
  }
  
  .footer > p {
    position: relative;
    left: 100px;
  }
  .footer img {
    filter: brightness(150%);
  }
  
  .footer_links {
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }
  
  .footer a {
    color: var(--white);
  }
  
  .footer_links .foot_link {
    margin: 20px;
  }
  
  .footer_links a:hover {
    color: var(--lighter_blue);
  }
  
  .link_1 span {
    padding-left: 20px;
  }
  
  .link_4 ul {
    display: flex;
  }
  .link_4 li {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
  }
  
  /* Desktop Design
  ###############
  END!!!!!!!!!!!!
  ###############
  */
  
  /* Mobile Responsive
  ##################
  START!!!!!!!!!!!!!
  ##################
  */
  
  @media (max-width: 763px) {
    /* Navbar section */
  
    .navbar {
      padding: 1rem 1.5rem;
    }
  
    #logo {
      width: 80px;
    }
  
    .nav-links ul {
      gap: 1rem;
    }
  
    .navbar a {
      font-size: 0.9rem;
    }
  
    /* All your files section */
  
    .hero {
      flex-direction: column-reverse;
      padding: 20px;
    }
  
    .hero_content {
      width: 100%;
      padding-top: 5px;
    }
    .hero_content h2 {
      font-size: 1.6rem;
      text-align: center;
    }
    .hero_content p {
      font-size: 1.1rem;
      text-align: center;
    }
  
    form {
      flex-direction: column;
      gap: 10px;
    }
  
    .hero_image {
      width: 100%;
    }
  
    .hero_image img {
      object-fit: contain;
    }
  
    input[type="email"],
    input[type="button"] {
      width: 100%;
    }
  
    /* Stay productive section */
  
    .stay_productive {
      flex-direction: column-reverse;
      padding: 20px 20px 10px 20px;
    }
    .stay_productive_content {
      width: 100%;
      /* padding: 5px; */
    }
    .stay_productive_image {
      width: 100%;
    }
    .stay_productive_content h2 {
      text-align: center;
      font-size: 1.2rem;
    }
  
    .stay_productive_content p {
      font-size: 1rem;
    }
  
    .stay_productive_image img {
      object-fit: contain;
    }
  
    .stay_productive_link {
      justify-content: center;
    }
  
    .testimonial {
      width: 100%;
    }
  
    /* Get ready section */
    .get_ready {
      flex-direction: column;
      padding: 30px;
      text-align: center;
      gap: 25px;
    }
    .get_ready_content {
      width: 100%;
    }
  
    .get_ready_content h2 {
      font-size: 1.7rem;
    }
  
    .get_ready_content p {
      font-size: 1.1rem;
    }
  
    .get_ready_input input[type="email"] {
      width: 100%;
    }
  
    /* Footer section */
    .footer {
      padding: 25px;
    }
  
    .footer > p {
      left: 0px;
    }
  
    .footer_links {
      display: grid;
    }
  
    .link_4 ul {
      display: flex;
      justify-content: center;
    }
    .link_1 span {
      padding-left: 5px;
    }
  }